{% load static %}

<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>SNIRH Moderno</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel='shortcut icon' type='image/x-icon' href="{% static 'img/favicon.ico' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!-- 
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"

      type="text/css"
    /> -->

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"  type="text/css"/>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css" rel="stylesheet"  type="text/css"/> -->
    <link  href="{% static 'css/select2-materialize.css' %}"  rel="stylesheet"   type="text/css"/>

    
    
    {% block stylesheets %}{% endblock stylesheets %}
  </head>
  <body>
    {% include 'includes/navigation.html' %} 
    <div class="">
      {% block content %}{% endblock content %}
    </div>

    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script  src="{% static 'jquery.nicescroll/jquery.nicescroll.js' %}"  type="text/javascript"></script>


    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <!-- <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script> -->
    <script
    src="https://kit.fontawesome.com/77866edf87.js"
    crossorigin="anonymous"
  ></script>
    {% block javascripts %}{% endblock javascripts %}

  </body>
</html>
