{% extends "layouts/base.html" %} 
{% load static %}

{% block stylesheets %}

  


 




  <link  href=" https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.css"  rel="stylesheet"   type="text/css"/>

  <link  href="{% static 'leaflet-draw/dist/leaflet.draw.css' %}"  rel="stylesheet"   type="text/css"/>

  <link href="https://unpkg.com/leaflet-geosearch@latest/assets/css/leaflet.css" rel="stylesheet" />

  

  <!-- <link  href="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.5.0/css/messenger-theme-future.css"  rel="stylesheet" /> -->

{% endblock stylesheets %}

{% block content %}
<div id="mainLoader" class="preloader-background pre-load">
    
  <div id="mainLoaderChild" class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-red">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-yellow">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>

    <div class="spinner-layer spinner-green">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

    
    <div  id = "progressBarContainer" class="no-display center-align" style="width: 1000px;">
      <div id = "progressBarText" class="d-inline center-align"></div>
      <!-- <button id="cancelBtn" class="btn btn-danger d-inline">Cancelar</button> -->
      <div class="progress">
        <div id = "progressBar" class="determinate" style="width: 70%"></div>
      </div>
    <button id="cancel" class="btn-flat waves-effect waves-red cancel-btn-container"><span class="material-icons red-text text-lighten-2 cancel-btn">clear</span></button>

    </div>

</div>

  <div class="row section">
    <div class="col s12 m3 map-container">
      <!-- <button id="cancel2" class="btn-flat waves-effect waves-red cancel-btn-container"><span class="material-icons red-text text-darken-1 cancel-btn">clear</span></button> -->
      <div class="map-loader-container">
      <div id="mapLoader" class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

      <div id="mainMap"></div> 
    </div>
    <!-- <span class="material-icons right">arrow_drop_down</span> -->
    <div class="col s12 m9">
      <form method="post" id='station-parameter-form'>
        {% csrf_token %}
        <div class="row">
          <div class="col s12 m4">
            {{ rede_form }}
          </div>
          <div class="col s12 m4">
            {{ estacao_form }}
          </div>
          <div class="col s12 m4">
            {{ parametro_form }}
          </div>
        </div>
        <div class="row">
          <div class="col m2 center-align" >
              <p>De</p>
          </div>
          <div class="col m3 s12 center-align" class="datepicker-container">
            <!-- <label for="startDatepicker" class="active">Entre</label> -->
            <!-- <span class="material-icons">clear</span> -->
            <i id="startDatepicker-icon"class="material-icons datepicker-icon">event</i>
            <input id="startDatepicker" type="text" class="datepicker" placeholder="data de inicio">
          </div>
          <div class="col m2 center-align">
            <p>Até</p>

        </div>
          <div class="col  m3 s12 center-align">
            
            <!-- <label for="endDatepicker" class="active">e</label> -->
            <i id="endDatepicker-icon"class="material-icons datepicker-icon">event</i>
            <input id="endDatepicker" type="text" class="datepicker" placeholder="data de fim">
          </div>

        </div>
        <div class="row center">
          

          <button id="submitForm" class="btn waves-effect waves-light ">Procurar</button>
        </div>
      
      </form>

      <!-- <div class="spinner-grow text-info no-display" id='spinner' role="status">
        <span class="sr-only">Loading...</span>
      </div> -->


      <!-- <div  id = "cancelBarContainer" class="no-display">
        <div id = "cancelBarText">A cancelar...</div>
        <div class="progress">
          <div id = "cancelBar" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 25%"></div>
        </div>
      </div> -->
      <div class="divider"></div>

      <div id='alertContainer'></div>

      <div id="initial-info" class='info-card center'>Seleccione pelo menos uma estação e um parametro</div>


        <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span> -->
        <!-- </button> -->
      <div id='chartsContainer'></div>

      <!-- <div id='alertMissContainer'></div>  -->

    </div>
  </div>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4 class="red-text text-lighten-2">Demasiado dados</h4>
      <p>A quantidade de dados que pretende recolher pode demorar algum tempo...Selecione um intervalo de datas menor.</p>
    </div>
    <div class="modal-footer">
      <a href="#" id="cancel-fecth" class="modal-close waves-effect waves-green green-text text-lighten-2 btn-flat">Voltar atrás</a>
  
      <a href="#" id="continue-fecth" class="modal-close waves-effect waves-red red-text text-lighten-2 btn-flat">Continuar mesmo assim</a>
    </div>
  </div>
{% endblock content %}
{% block javascripts %}

{% csrf_token %}
<script type="text/javascript">
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
let GmapsApiKey = "{{ gmaps_api_key }}";
let mapboxAccessToken = "{{ mapbox_access_token }}";
let largeParams = "{{large_params}}"
</script>

<script  src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.js"  type="text/javascript"></script>
<script  src="{% static 'leaflet-draw/dist/leaflet.draw.js' %}"  type="text/javascript"></script>
<script src="https://unpkg.com/leaflet-geosearch@latest/dist/bundle.min.js"></script>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/messenger/1.5.0/js/messenger.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>


<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/data.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/broken-axis.js"></script>

<script type="text/javascript" src="{% static 'js2/config.js' %}"></script>

<script type="text/javascript" src="{% static 'js2/func.js' %}"></script>
<script type="text/javascript" src="{% static 'js2/getData.js' %}"></script>

<script type="text/javascript" src="{% static 'js2/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js2/chart.js' %}"></script>
<script type="text/javascript" src="{% static 'js2/map.js' %}"></script>

<!-- 



<script type="text/javascript" src="{% static 'js2/utils.js' %}"></script>
<script type="text/javascript" src="{% static 'js2/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js2/getData.js' %}"></script>

   -->
{% endblock javascripts %}
